In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [9]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [13]:
movies = movies.merge(credits, on='title')

In [15]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
#cols to keep: genres, id, keywords, title, overview, cast, crew

In [25]:
movies['original_language'].value_counts()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [26]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [27]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [29]:
movies.dropna(inplace=True)

C:\Users\arnab\AppData\Local\Temp\ipykernel_30804\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [31]:
movies.duplicated().sum()

0

In [32]:
 movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [34]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#convert string of list to list
#['Action', 'adventure', Fantasy','SciFi']

In [39]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [40]:
#import ast
#ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [43]:
movies['genres'] = movies['genres'].apply(convert)

ValueError: malformed node or string: ['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [44]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [45]:
movies['keywords'] = movies['keywords'].apply(convert)

In [47]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [48]:
def convert3(obj):
    L=[]
    counter =0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [50]:
movies['cast'] = movies['cast'].apply(convert3)

In [51]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [53]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [55]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [56]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [59]:
movies['overview'][0]
#convert string to list

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [60]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [61]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [63]:
#remove spaces in list

movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [64]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [65]:
movies['tags'] = movies['overview']+movies['genres']+movies['cast']+movies['crew']

In [66]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [67]:
new_df = movies[['movie_id','title','tags']]

In [70]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\arnab\AppData\Local\Temp\ipykernel_30804\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [71]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [73]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\arnab\AppData\Local\Temp\ipykernel_30804\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [74]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [84]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [85]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [86]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
stemming
# ['loved', 'loving', 'love']
#['love', 'love', 'love']

In [89]:
pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in e:\program files\anaconda\lib\site-packages (3.8.1)
Requirement already satisfied: click in e:\program files\anaconda\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in e:\program files\anaconda\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in e:\program files\anaconda\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in e:\program files\anaconda\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in e:\program files\anaconda\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [90]:
import nltk

In [91]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [92]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [94]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\arnab\AppData\Local\Temp\ipykernel_30804\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [95]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [96]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [98]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [99]:
from sklearn.metrics.pairwise import cosine_similarity

In [102]:
similarity = cosine_similarity(vectors)

In [114]:
list(enumerate(similarity[1]))

[(0, 0.13957263155977062),
 (1, 1.0000000000000004),
 (2, 0.08399210511316162),
 (3, 0.0549857399228215),
 (4, 0.1091089451179962),
 (5, 0.10619884881071831),
 (6, 0.031173984319427483),
 (7, 0.14547859349066158),
 (8, 0.08559209850218259),
 (9, 0.14349920066683505),
 (10, 0.14349920066683505),
 (11, 0.09759000729485333),
 (12, 0.40050093945740706),
 (13, 0.1363196353181994),
 (14, 0.1928791874526149),
 (15, 0.1683587574253685),
 (16, 0.07968190728895957),
 (17, 0.18898223650461365),
 (18, 0.07769309688655059),
 (19, 0.13801311186847084),
 (20, 0.07968190728895957),
 (21, 0.07715167498104596),
 (22, 0.15018785229652765),
 (23, 0.13650472655798704),
 (24, 0.08104408984731078),
 (25, 0.026082026547865053),
 (26, 0.11952286093343936),
 (27, 0.08596023825918792),
 (28, 0.10286889997472795),
 (29, 0.061113233135214086),
 (30, 0.10223972648864955),
 (31, 0.1091089451179962),
 (32, 0.09549105211188456),
 (33, 0.10585122480499264),
 (34, 0.0),
 (35, 0.1636634176769943),
 (36, 0.11396057645963796),
 (37, 0.08559209850218259),
 (38, 0.1636634176769943),
 (39, 0.07484811885651196),
 (40, 0.11572751247156893),
 (41, 0.13801311186847084),
 (42, 0.0),
 (43, 0.1076244005001263),
 (44, 0.0545544725589981),
 (45, 0.08381981343406689),
 (46, 0.13093073414159545),
 (47, 0.17192047651837583),
 (48, 0.1458029608799511),
 (49, 0.041239304942116126),
 (50, 0.11572751247156893),
 (51, 0.05587987562271126),
 (52, 0.07715167498104596),
 (53, 0.16265001215808889),
 (54, 0.06299407883487121),
 (55, 0.08119979429411503),
 (56, 0.09759000729485331),
 (57, 0.1301200097264711),
 (58, 0.12469593727770993),
 (59, 0.12948849481091765),
 (60, 0.0),
 (61, 0.1904761904761905),
 (62, 0.19738550848793068),
 (63, 0.10910894511799618),
 (64, 0.0),
 (65, 0.030860669992418384),
 (66, 0.16835875742536846),
 (67, 0.07484811885651196),
 (68, 0.09523809523809525),
 (69, 0.09569487529386911),
 (70, 0.07174960033341753),
 (71, 0.13012000972647111),
 (72, 0.17457431218879393),
 (73, 0.060522753266880246),
 (74, 0.10482848367219183),
 (75, 0.12156613477096617),
 (76, 0.07597371763975865),
 (77, 0.06213697660012001),
 (78, 0.09304842103984708),
 (79, 0.08992359739952711),
 (80, 0.05006261743217588),
 (81, 0.12858612496840996),
 (82, 0.043643578047198484),
 (83, 0.0890870806374748),
 (84, 0.12344267996967352),
 (85, 0.14037248126871926),
 (86, 0.06988565578146122),
 (87, 0.04052204492365539),
 (88, 0.10585122480499264),
 (89, 0.03967598004290771),
 (90, 0.14285714285714288),
 (91, 0.18712029714127992),
 (92, 0.07377111135633174),
 (93, 0.07079923254047887),
 (94, 0.1636634176769943),
 (95, 0.08728715609439697),
 (96, 0.11396057645963796),
 (97, 0.13311166512794437),
 (98, 0.20025046972870353),
 (99, 0.03688555567816587),
 (100, 0.05292561240249632),
 (101, 0.11757927025044308),
 (102, 0.08381981343406689),
 (103, 0.09759000729485333),
 (104, 0.09523809523809525),
 (105, 0.1636634176769943),
 (106, 0.10350983390135314),
 (107, 0.09652341781316803),
 (108, 0.07715167498104596),
 (109, 0.21170244960998527),
 (110, 0.0),
 (111, 0.11952286093343936),
 (112, 0.07597371763975865),
 (113, 0.06655583256397218),
 (114, 0.07174960033341753),
 (115, 0.0681598176590997),
 (116, 0.06988565578146122),
 (117, 0.14638501094227999),
 (118, 0.02727723627949905),
 (119, 0.07377111135633174),
 (120, 0.0),
 (121, 0.15936381457791915),
 (122, 0.14285714285714288),
 (123, 0.08728715609439697),
 (124, 0.10223972648864955),
 (125, 0.1272937693043289),
 (126, 0.11227217828476795),
 (127, 0.15995735039241837),
 (128, 0.04550157551932901),
 (129, 0.15748519708717804),
 (130, 0.03857583749052298),
 (131, 0.10619884881071831),
 (132, 0.09352195295828244),
 (133, 0.08908708063747481),
 (134, 0.1091089451179962),
 (135, 0.0),
 (136, 0.10482848367219183),
 (137, 0.020528212319963927),
 (138, 0.26726124191242445),
 (139, 0.10482848367219183),
 (140, 0.062347968638854966),
 (141, 0.04879500364742666),
 (142, 0.08247860988423225),
 (143, 0.09258200997725514),
 (144, 0.09523809523809525),
 (145, 0.05681909897271362),
 (146, 0.020712325533373335),
 (147, 0.07715167498104596),
 (148, 0.09100315103865803),
 (149, 0.09449111825230681),
 (150, 0.13041013273932528),
 (151, 0.12104550653376049),
 (152, 0.1283881477532739),
 (153, 0.08451542547285165),
 (154, 0.044543540318737404),
 (155, 0.0),
 (156, 0.06900655593423542),
 (157, 0.10286889997472795),
 (158, 0.16265001215808889),
 (159, 0.10585122480499264),
 (160, 0.10012523486435176),
 (161, 0.06900655593423542),
 (162, 0.04652421051992354),
 (163, 0.03742405942825598),
 (164, 0.1091089451179962),
 (165, 0.04879500364742666),
 (166, 0.07715167498104596),
 (167, 0.12371791482634838),
 (168, 0.14547859349066158),
 (169, 0.13311166512794437),
 (170, 0.09652341781316803),
 (171, 0.061113233135214086),
 (172, 0.10286889997472795),
 (173, 0.03407990882954985),
 (174, 0.12156613477096617),
 (175, 0.07484811885651196),
 (176, 0.1126872339638022),
 (177, 0.0),
 (178, 0.14547859349066158),
 (179, 0.051434449987363975),
 (180, 0.03688555567816587),
 (181, 0.03984095364447979),
 (182, 0.06655583256397218),
 (183, 0.09078412990032037),
 (184, 0.07273929674533079),
 (185, 0.03857583749052298),
 (186, 0.0643489452087787),
 (187, 0.18442777839082936),
 (188, 0.029424494316824985),
 (189, 0.1126872339638022),
 (190, 0.08992359739952711),
 (191, 0.12156613477096617),
 (192, 0.036369648372665396),
 (193, 0.17036708399998401),
 (194, 0.0),
 (195, 0.08247860988423225),
 (196, 0.08728715609439697),
 (197, 0.10508138749854674),
 (198, 0.08728715609439697),
 (199, 0.25112360116696136),
 (200, 0.060522753266880246),
 (201, 0.0),
 (202, 0.043643578047198484),
 (203, 0.08399210511316162),
 (204, 0.03798685881987932),
 (205, 0.10012523486435176),
 (206, 0.13430382733756338),
 (207, 0.11952286093343936),
 (208, 0.18156825980064073),
 (209, 0.15018785229652765),
 (210, 0.07484811885651196),
 (211, 0.03494282789073061),
 (212, 0.06655583256397218),
 (213, 0.06734350297014739),
 (214, 0.0),
 (215, 0.1543033499620919),
 (216, 0.1126872339638022),
 (217, 0.09258200997725514),
 (218, 0.0563436169819011),
 (219, 0.08399210511316162),
 (220, 0.08728715609439697),
 (221, 0.06900655593423542),
 (222, 0.13430382733756338),
 (223, 0.07273929674533079),
 (224, 0.029424494316824985),
 (225, 0.06900655593423542),
 (226, 0.042796049251091296),
 (227, 0.12598815766974242),
 (228, 0.09759000729485333),
 (229, 0.049102861614023635),
 (230, 0.05372153093502535),
 (231, 0.0),
 (232, 0.18200630207731605),
 (233, 0.1091089451179962),
 (234, 0.1363196353181994),
 (235, 0.07484811885651196),
 (236, 0.042796049251091296),
 (237, 0.09304842103984708),
 (238, 0.11363819794542725),
 (239, 0.05254069374927338),
 (240, 0.16798421022632323),
 (241, 0.11572751247156893),
 (242, 0.12371791482634838),
 (243, 0.14547859349066158),
 (244, 0.05006261743217588),
 (245, 0.08908708063747481),
 (246, 0.11769797726729996),
 (247, 0.0),
 (248, 0.07079923254047887),
 (249, 0.05292561240249632),
 (250, 0.04550157551932901),
 (251, 0.0),
 (252, 0.09549105211188456),
 (253, 0.059391387091649865),
 (254, 0.07597371763975865),
 (255, 0.0),
 (256, 0.058321184351980436),
 (257, 0.04199605255658081),
 (258, 0.07610194341477616),
 (259, 0.10012523486435176),
 (260, 0.15018785229652765),
 (261, 0.043643578047198484),
 (262, 0.10619884881071831),
 (263, 0.14285714285714288),
 (264, 0.0),
 (265, 0.08559209850218259),
 (266, 0.08728715609439697),
 (267, 0.14638501094227999),
 (268, 0.07968190728895957),
 (269, 0.05006261743217588),
 (270, 0.14547859349066158),
 (271, 0.07273929674533079),
 (272, 0.0),
 (273, 0.12732140281584609),
 (274, 0.05436602822195624),
 (275, 0.04652421051992354),
 (276, 0.15018785229652765),
 (277, 0.05292561240249632),
 (278, 0.07484811885651196),
 (279, 0.06900655593423542),
 (280, 0.06988565578146122),
 (281, 0.033671751485073696),
 (282, 0.06655583256397218),
 (283, 0.0),
 (284, 0.054133196196076684),
 (285, 0.0545544725589981),
 (286, 0.09166984970282113),
 (287, 0.0),
 (288, 0.0),
 (289, 0.05254069374927338),
 (290, 0.09523809523809525),
 (291, 0.07377111135633174),
 (292, 0.13093073414159545),
 (293, 0.044543540318737404),
 (294, 0.08104408984731078),
 (295, 0.08104408984731078),
 (296, 0.10223972648864955),
 (297, 0.03587480016670876),
 (298, 0.0),
 (299, 0.09449111825230681),
 (300, 0.07968190728895957),
 (301, 0.0545544725589981),
 (302, 0.0681598176590997),
 (303, 0.03984095364447979),
 (304, 0.12472191289246473),
 (305, 0.07377111135633174),
 (306, 0.03984095364447979),
 (307, 0.10803395392536075),
 (308, 0.051434449987363975),
 (309, 0.09759000729485331),
 (310, 0.07559289460184543),
 (311, 0.03919309008348103),
 (312, 0.10101525445522108),
 (313, 0.0),
 (314, 0.0),
 (315, 0.1567723603339241),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.04761904761904762),
 (320, 0.04550157551932901),
 (321, 0.0),
 (322, 0.14638501094227999),
 (323, 0.03919309008348103),
 (324, 0.033671751485073696),
 (325, 0.08728715609439697),
 (326, 0.042796049251091296),
 (327, 0.041239304942116126),
 (328, 0.03984095364447979),
 (329, 0.13363062095621223),
 (330, 0.15018785229652765),
 (331, 0.12469593727770993),
 (332, 0.11757927025044308),
 (333, 0.03984095364447979),
 (334, 0.10619884881071831),
 (335, 0.06900655593423542),
 (336, 0.09759000729485331),
 (337, 0.03407990882954985),
 (338, 0.0),
 (339, 0.1076244005001263),
 (340, 0.07484811885651196),
 (341, 0.08104408984731078),
 (342, 0.1543033499620919),
 (343, 0.05542739954736933),
 (344, 0.03919309008348103),
 (345, 0.062347968638854966),
 (346, 0.03919309008348103),
 (347, 0.0),
 (348, 0.09100315103865803),
 (349, 0.18200630207731605),
 (350, 0.06734350297014739),
 (351, 0.03919309008348103),
 (352, 0.08559209850218259),
 (353, 0.029160592175990218),
 (354, 0.0),
 (355, 0.05884898863364997),
 (356, 0.09523809523809525),
 (357, 0.0),
 (358, 0.09304842103984708),
 (359, 0.13650472655798704),
 (360, 0.0),
 (361, 0.1519474352795173),
 (362, 0.044543540318737404),
 (363, 0.06172133998483677),
 (364, 0.03253000243161778),
 (365, 0.0),
 (366, 0.03798685881987932),
 (367, 0.0),
 (368, 0.09304842103984708),
 (369, 0.11396057645963796),
 (370, 0.07968190728895957),
 (371, 0.06655583256397218),
 (372, 0.06900655593423542),
 (373, 0.0),
 (374, 0.09947294626039876),
 (375, 0.029695693545824933),
 (376, 0.07079923254047887),
 (377, 0.03183035070396152),
 (378, 0.0),
 (379, 0.11437725271791939),
 (380, 0.044543540318737404),
 (381, 0.11664236870396087),
 (382, 0.0),
 (383, 0.10223972648864955),
 (384, 0.11952286093343936),
 (385, 0.0),
 (386, 0.1076244005001263),
 (387, 0.036369648372665396),
 (388, 0.0),
 (389, 0.17457431218879393),
 (390, 0.042796049251091296),
 (391, 0.1126872339638022),
 (392, 0.13093073414159545),
 (393, 0.0),
 (394, 0.03798685881987932),
 (395, 0.0),
 (396, 0.03742405942825598),
 (397, 0.07377111135633174),
 (398, 0.0),
 (399, 0.03688555567816587),
 (400, 0.08728715609439697),
 (401, 0.0),
 (402, 0.08247860988423225),
 (403, 0.1543033499620919),
 (404, 0.0),
 (405, 0.08559209850218259),
 (406, 0.0),
 (407, 0.09258200997725514),
 (408, 0.05006261743217588),
 (409, 0.06506000486323556),
 (410, 0.06900655593423542),
 (411, 0.07273929674533079),
 (412, 0.1909821042237691),
 (413, 0.07484811885651196),
 (414, 0.04052204492365539),
 (415, 0.02840954948635681),
 (416, 0.08399210511316162),
 (417, 0.051434449987363975),
 (418, 0.0),
 (419, 0.10350983390135314),
 (420, 0.12732140281584609),
 (421, 0.0),
 (422, 0.058321184351980436),
 (423, 0.06299407883487121),
 (424, 0.059391387091649865),
 (425, 0.14754222271266348),
 (426, 0.07610194341477616),
 (427, 0.11757927025044308),
 (428, 0.08247860988423225),
 (429, 0.0),
 (430, 0.0),
 (431, 0.08728715609439697),
 (432, 0.06900655593423542),
 (433, 0.04652421051992354),
 (434, 0.036369648372665396),
 (435, 0.05292561240249632),
 (436, 0.03450327796711771),
 (437, 0.03857583749052298),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.036369648372665396),
 (443, 0.08827348295047496),
 (444, 0.031497039417435604),
 (445, 0.03539961627023944),
 (446, 0.03742405942825598),
 (447, 0.06366070140792304),
 (448, 0.0),
 (449, 0.04550157551932901),
 (450, 0.029160592175990218),
 (451, 0.03984095364447979),
 (452, 0.04761904761904762),
 (453, 0.03688555567816587),
 (454, 0.07968190728895957),
 (455, 0.07968190728895957),
 (456, 0.03183035070396152),
 (457, 0.11227217828476795),
 (458, 0.060522753266880246),
 (459, 0.0545544725589981),
 (460, 0.0681598176590997),
 (461, 0.11396057645963796),
 (462, 0.04431333960293278),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.10012523486435176),
 (467, 0.09352195295828244),
 (468, 0.03984095364447979),
 (469, 0.11175975124542252),
 (470, 0.03539961627023944),
 (471, 0.11664236870396087),
 (472, 0.11227217828476795),
 (473, 0.06900655593423542),
 (474, 0.0),
 (475, 0.09652341781316803),
 (476, 0.04550157551932901),
 (477, 0.0),
 (478, 0.09166984970282113),
 (479, 0.05179539792436706),
 (480, 0.10482848367219183),
 (481, 0.03494282789073061),
 (482, 0.0),
 (483, 0.14285714285714288),
 (484, 0.08399210511316162),
 (485, 0.11952286093343936),
 (486, 0.1343320988518935),
 (487, 0.10012523486435176),
 (488, 0.06978631577988531),
 (489, 0.0),
 (490, 0.10286889997472795),
 (491, 0.0890870806374748),
 (492, 0.10350983390135314),
 (493, 0.0),
 (494, 0.058321184351980436),
 (495, 0.09759000729485331),
 (496, 0.02409813463559399),
 (497, 0.042796049251091296),
 (498, 0.09523809523809525),
 (499, 0.03587480016670876),
 (500, 0.03857583749052298),
 (501, 0.06734350297014739),
 (502, 0.06655583256397218),
 (503, 0.07968190728895957),
 (504, 0.0563436169819011),
 (505, 0.10585122480499264),
 (506, 0.0),
 (507, 0.09983374884595828),
 (508, 0.14754222271266348),
 (509, 0.06366070140792304),
 (510, 0.041239304942116126),
 (511, 0.14285714285714288),
 (512, 0.03984095364447979),
 (513, 0.07273929674533079),
 (514, 0.06734350297014739),
 (515, 0.06900655593423542),
 (516, 0.0),
 (517, 0.08522864845907044),
 (518, 0.061113233135214086),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0681598176590997),
 (524, 0.044543540318737404),
 (525, 0.03919309008348103),
 (526, 0.0),
 (527, 0.0),
 (528, 0.03742405942825598),
 (529, 0.03183035070396152),
 (530, 0.11572751247156893),
 (531, 0.06366070140792304),
 (532, 0.0),
 (533, 0.051434449987363975),
 (534, 0.058321184351980436),
 (535, 0.06655583256397218),
 (536, 0.0),
 (537, 0.10585122480499264),
 (538, 0.0),
 (539, 0.09100315103865803),
 (540, 0.06988565578146122),
 (541, 0.05730682550612528),
 (542, 0.08058229640253803),
 (543, 0.1286978904175574),
 (544, 0.12371791482634838),
 (545, 0.03450327796711771),
 (546, 0.051434449987363975),
 (547, 0.10012523486435176),
 (548, 0.0),
 (549, 0.0),
 (550, 0.0),
 (551, 0.08827348295047496),
 (552, 0.0),
 (553, 0.05292561240249632),
 (554, 0.0),
 (555, 0.02215666980146639),
 (556, 0.03919309008348103),
 (557, 0.03289758474798845),
 (558, 0.0),
 (559, 0.051434449987363975),
 (560, 0.07509392614826382),
 (561, 0.05292561240249632),
 (562, 0.04550157551932901),
 (563, 0.06655583256397218),
 (564, 0.05006261743217588),
 (565, 0.08671099695241201),
 (566, 0.06988565578146122),
 (567, 0.0),
 (568, 0.09100315103865803),
 (569, 0.06988565578146122),
 (570, 0.0563436169819011),
 (571, 0.03289758474798845),
 (572, 0.09549105211188456),
 (573, 0.03450327796711771),
 (574, 0.031497039417435604),
 (575, 0.06299407883487121),
 (576, 0.03798685881987932),
 (577, 0.08728715609439697),
 (578, 0.028903665650804003),
 (579, 0.0563436169819011),
 (580, 0.03327791628198609),
 (581, 0.16208817969462155),
 (582, 0.07715167498104596),
 (583, 0.11085479909473867),
 (584, 0.12104550653376049),
 (585, 0.03688555567816587),
 (586, 0.06299407883487121),
 (587, 0.1076244005001263),
 (588, 0.03494282789073061),
 (589, 0.06734350297014739),
 (590, 0.042796049251091296),
 (591, 0.06366070140792304),
 (592, 0.09869275424396536),
 (593, 0.029424494316824985),
 (594, 0.09759000729485331),
 (595, 0.062347968638854966),
 (596, 0.09759000729485333),
 (597, 0.12598815766974242),
 (598, 0.0),
 (599, 0.01967604453669851),
 (600, 0.06172133998483677),
 (601, 0.06939315030888375),
 (602, 0.10350983390135314),
 (603, 0.07838618016696206),
 (604, 0.09523809523809525),
 (605, 0.0),
 (606, 0.0),
 (607, 0.14085904245475275),
 (608, 0.0),
 (609, 0.03494282789073061),
 (610, 0.09918995010726928),
 (611, 0.033671751485073696),
 (612, 0.12732140281584609),
 (613, 0.04879500364742666),
 (614, 0.042796049251091296),
 (615, 0.04550157551932901),
 (616, 0.0),
 (617, 0.041239304942116126),
 (618, 0.14349920066683505),
 (619, 0.07597371763975865),
 (620, 0.0),
 (621, 0.04879500364742666),
 (622, 0.029424494316824985),
 (623, 0.030261376633440123),
 (624, 0.1091089451179962),
 (625, 0.0),
 (626, 0.051434449987363975),
 (627, 0.15877683720748895),
 (628, 0.07968190728895957),
 (629, 0.0681598176590997),
 (630, 0.03587480016670876),
 (631, 0.03798685881987932),
 (632, 0.0),
 (633, 0.06299407883487121),
 (634, 0.08728715609439697),
 (635, 0.036369648372665396),
 (636, 0.10350983390135314),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.08671099695241201),
 (641, 0.0),
 (642, 0.04761904761904762),
 (643, 0.1091089451179962),
 (644, 0.07597371763975865),
 (645, 0.07968190728895957),
 (646, 0.11952286093343936),
 (647, 0.0),
 (648, 0.0),
 (649, 0.1315903389919538),
 (650, 0.07484811885651196),
 (651, 0.10482848367219183),
 (652, 0.0),
 (653, 0.0545544725589981),
 (654, 0.13012000972647111),
 (655, 0.03450327796711771),
 (656, 0.03494282789073061),
 (657, 0.10079052613579391),
 (658, 0.1076244005001263),
 (659, 0.14969623771302393),
 (660, 0.13650472655798704),
 (661, 0.09352195295828244),
 (662, 0.0),
 (663, 0.0),
 (664, 0.1649572197684645),
 (665, 0.09983374884595828),
 (666, 0.04199605255658081),
 (667, 0.0),
 (668, 0.09304842103984708),
 (669, 0.0),
 (670, 0.0),
 (671, 0.03587480016670876),
 (672, 0.04879500364742666),
 (673, 0.0),
 (674, 0.06299407883487121),
 (675, 0.03327791628198609),
 (676, 0.06988565578146122),
 (677, 0.05292561240249632),
 (678, 0.07838618016696206),
 (679, 0.0),
 (680, 0.03494282789073061),
 (681, 0.0),
 (682, 0.0),
 (683, 0.07174960033341753),
 (684, 0.0),
 (685, 0.04652421051992354),
 (686, 0.04652421051992354),
 (687, 0.07597371763975865),
 (688, 0.03857583749052298),
 (689, 0.07377111135633174),
 (690, 0.08104408984731078),
 (691, 0.1283881477532739),
 (692, 0.03539961627023944),
 (693, 0.0),
 (694, 0.17937400083354382),
 (695, 0.1636634176769943),
 (696, 0.0681598176590997),
 (697, 0.09883324222148016),
 (698, 0.06299407883487121),
 (699, 0.0),
 (700, 0.09304842103984708),
 (701, 0.0),
 (702, 0.07838618016696206),
 (703, 0.029424494316824985),
 (704, 0.03857583749052298),
 (705, 0.036369648372665396),
 (706, 0.06172133998483677),
 (707, 0.09100315103865803),
 (708, 0.043643578047198484),
 (709, 0.05730682550612528),
 (710, 0.05331911679747279),
 (711, 0.11227217828476795),
 (712, 0.03407990882954985),
 (713, 0.0),
 (714, 0.0),
 (715, 0.13957263155977062),
 (716, 0.1091089451179962),
 (717, 0.12732140281584609),
 (718, 0.03253000243161778),
 (719, 0.0),
 (720, 0.0),
 (721, 0.04761904761904762),
 (722, 0.06900655593423542),
 (723, 0.0),
 (724, 0.11757927025044308),
 (725, 0.0),
 (726, 0.0),
 (727, 0.043426983270794736),
 (728, 0.10482848367219183),
 (729, 0.0),
 (730, 0.08478078067985947),
 (731, 0.11572751247156893),
 (732, 0.062347968638854966),
 (733, 0.08827348295047496),
 (734, 0.09652341781316803),
 (735, 0.03183035070396152),
 (736, 0.13363062095621223),
 (737, 0.09759000729485331),
 (738, 0.10286889997472795),
 (739, 0.0545544725589981),
 (740, 0.07079923254047887),
 (741, 0.07968190728895957),
 (742, 0.08908708063747481),
 (743, 0.033671751485073696),
 (744, 0.10286889997472795),
 (745, 0.07838618016696206),
 (746, 0.12469593727770993),
 (747, 0.07881104062391006),
 (748, 0.05292561240249632),
 (749, 0.033671751485073696),
 (750, 0.07079923254047887),
 (751, 0.0),
 (752, 0.03183035070396152),
 (753, 0.04052204492365539),
 (754, 0.08104408984731078),
 (755, 0.166282198642108),
 (756, 0.0),
 (757, 0.0),
 (758, 0.12598815766974242),

In [111]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

119

In [122]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(2999, 0.25854384499750954),
 (4405, 0.24618298195866548),
 (61, 0.23262105259961768),
 (1444, 0.22792115291927587),
 (942, 0.22498852128662875)]

In [132]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [134]:
recommend('Avatar')

Mad Max Beyond Thunderdome
The Helix... Loaded
Jupiter Ascending
Krull
The Book of Life

In [126]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [135]:
import pickle

In [136]:
pickle.dump(new_df, open('movies.pkl','wb'))

In [137]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [138]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl', 'wb'))

In [139]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))